doctype html
html(lang='en')
  head
    title Login
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/login.css', rel='stylesheet')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/spin.min.js')
    script(src='/js/moment-with-locales.min.js')
  body
    header
      a(href='/') < Cancelar
    h1#login_title Iniciar Sesion
    #login_content
      if err
        #err_login.alert-danger
          p #{err}
      form#login(action="/login", method="post")
        include _form_login.jade
        input.btn.btn-success(type='submit', value='Iniciar sesion')
    #register
      p No tienes una cuenta? 
        a(href='/user/signup') Registrate